body {
    background-color: #fff;
    font-family: 'News Cycle', sans-serif;
    font-size: 14px;
    font-stretch: expanded;
    letter-spacing: 0.1em;
}
.top-nav {
    padding: 20px 5px 20px 5px;
    text-align: center;
    font-size: 16px;
    border-bottom: 3px #efefef dashed;
}
.font-16 {
    font-size: 16px;
    vertical-align: middle;
}
.centre-block {
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 18px;
    padding-top: 36px;
}
.heading {
    font-family: 'Aldrich', sans-serif;
    font-size: 48px;
    color: #2e4652;
    letter-spacing: 0.2em;
}
.centre-text {
    padding: 20px 0 20px 0;
}
.centre-text i {
    color: #074766;
}
.centre-list {
    list-style: none;
}
.centre-list li {
    padding: 5px;
    line-height: 25px;
}
.centre-login {
    padding-top: 20px;
}
.dashed-border {
    border-bottom: 3px #efefef dashed;
}
.ref-unit {
    border-right: 3px #a7a7a9 dashed;
    padding-right: 30px;
}
#preview-ref {
    padding-left: 30px;
}
.tag-list {
    list-style: none;
    padding: 0 15px 0 0;
    margin: 0;
    font-size: 16px;
    border-right: 3px #eed3d7 dashed;
    min-height: 600px;
}
.tag-list li {
    padding: 10px;
    border-bottom: 1px solid #efefef;
}
.tag-list li.title {
    color: #2b2e35;
}
.active {
    background-color: #def1f6;
}
.ref-list {
    list-style: none;
    padding: 0 15px 0 0;
    margin: 0;
    font-size: 16px;
    min-height: 400px;
    line-height: 25px;
}
.ref-display {
    font-size: 16px;
}
.ref-display ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.ref-display ul li {
    float: left;
    padding: 5px 10px 5px 10px;
    border: 1px solid #efefef;
    border-radius: 3px;
    margin: 10px 5px 0 0;
    background-color: #eeeeee;
}
.ref-display ul li a {
    color: #0a4abc;
    text-decoration: none;
    font-weight: 500;
}
.footer {
    border-top: 1px #efef33 solid;
    padding-top: 20px;
}
.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer ul li a {
    color: #444;
    text-decoration: none;
    font-size: 16px;
}