<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} RefEasy</title>
    <link href="/media/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/media/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=News+Cycle|Aldrich' rel='stylesheet' type='text/css'>
    <style>
        body {padding-top: 50px;}
    </style>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
    <link href="/media/css/style.css" type="text/css" rel="stylesheet">
    {% block cssblock %} {% endblock %}
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid font-16">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand heading" href="/" title="RefEasy">RefEasy</a>
                <ul class="nav">
                    <li><a href="#" class="display-name">{{cur_user.username|capfirst}}</a></li>
                </ul>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        {% block content %} {% endblock %}
        <div class="row-fluid">
            <div class="span8 offset2 footer">
                <ul>
                    <li><a href="/about" title="About">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/media/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/media/js/bootstrap.min.js"></script>
    {% block jsblock %} {% endblock %}
</body>
</html>