{% extends 'base.html' %}
{% block cssblock %}
    <link href="/media/css/chosen.css" type="text/css" rel="stylesheet">
    <link href="/media/css/github.css" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="span6 ref-unit">
            <form method="post" action="{{ref_post_url}}">
            <input type="hidden" name="id" value="{% if ref.ref_id %}{{ref.ref_id}}{% endif %}">
            <fieldset>
                <legend>{{form_label}} Ref <a href="/refs" class="btn btn-link pull-right">Ref List</a></legend>
                <label for="title">Title (Optional)</label>
                <input id="title" type="text" class="span12" name="title" value="{{ref.title}}">
                <label for="content">My Ref
                    <a class="btn btn-link pull-right" href="#" id="code_paste"><i class="icon icon-paste"></i> {Code}</a>
                </label>
                <textarea id="content" rows="18" name="content" class="span12">{{ref.content}}</textarea>
                <label for="tags">Tags (Optional - but help in easy lookup)</label>
                <select data-placeholder="Choose tags" size="1" multiple id="tags" name="tags" class="span12">
                    {% for tag in all_tags %}
                        {% if ref.tags and tag.name in ref.tags %}
                            <option value="{{tag.name}}" selected="selected">{{tag.name}}</option>
                        {% else %}
                            <option value="{{tag.name}}">{{tag.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="submit" name="save" value="Save Ref" class="btn btn-info">
            </fieldset>
        </form>
        </div>
        <div class="span6" id="preview_ref">
            <fieldset>
                <legend>Preview</legend>
                <p></p>
            </fieldset>
        </div>
    </div>
{% endblock %}
{% block jsblock %}
    <script type="text/javascript" src="/media/js/chosen.jquery.js"></script>
    <script type="text/javascript" src="/media/js/jquery-fieldselection.js"></script>
    <script type="text/javascript" src="/media/js/highlight.pack.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#tags").chosen({no_results_text: "Add tag - "});
            var codePaste = $('#code_paste');
            $(codePaste).tooltip({
                placement: 'top',
                title: 'Selected text will be treated as code wrapped in <code/><pre/>'
            });
            $(codePaste).on('click', function(ev){
                ev.preventDefault();
                var content = $('#content');
                var sel = $(content).getSelection();
                var code = '';
                if(sel && sel!=null && sel.text.trim()!=''){
                    code = "<pre><code>\n"+sel.text+"\n</code></pre>";
                }
                var curVal = $(content).val();
                $(content).val(curVal.substring(0, sel.start)+code+curVal.substr(sel.end));
            });
            var prevEl = $('div#preview_ref fieldset p');
            $('#content').on('keyup change', function(ev){
                $(prevEl).html($(this).val());
                $(prevEl).find('pre code').each(function(i, e){
                    hljs.highlightBlock(e);
                });
            });
        });
    </script>
{% endblock %}
