<!DOCTYPE html>
<html>
<head>
    <title>RefEasy - Save text, links and code snippets</title>
    <meta name="keyword" content="Save text, Save links, Save code snippets, maintain history, content store">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=News+Cycle|Aldrich' rel='stylesheet' type='text/css'>
    <link href="/media/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
    <link href="/media/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/media/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="top-nav">
                <a href="https://twitter.com/intent/tweet?url={{ 'http://refeasy.in'|urlencode }}&'via=shwetanka19&text={{'A store to save text, links and code snippets and refer them whenever required.'|urlencode }}"
                   class="btn btn-primary font-16" target="_blank"><i class="icon-twitter"></i> Tweet about RefEasy</a>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ 'http://refeasy.in'|urlencode }}" target="_blank" class="btn btn-primary font-16"><i class="icon-facebook"></i> Share RefEasy on Facebook</a>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span8 offset2 centre-block">
                <h1 class="heading">RefEasy</h1>
                <div class="span12">
                    <p class="centre-text">
                       You searched for something a month back on Google and now you need to find it again.
                        But you can't remember the site or keywords you typed to get that info. Remember it with
                        <i>RefEasy</i>.
                    </p>
                    <ul class="centre-list">
                        <li>Save your <i style="color: #46a546">links</i>.</li>
                        <li>Copy paste any <strong>text</strong>.</li>
                        <li>Save <strong>{</strong><span style="color: #002a80"># code snippets</span><strong>}</strong></li>
                        <li><strong style="color: #f0b119">Tag</strong> your <i>refs</i> and look them up easily.</li>
                    </ul>
                    <p class="centre-login">
                        <a href="/auth/glogin" class="btn btn-large btn-info"><i class="icon-google-plus"></i> Login with Google</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row-fluid" style="text-align: center; margin-top: 10px;">
            <div class="span8 offset2 footer">
                <ul>
                    <li><a href="/about" title="About">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>