{% extends 'base.html' %}
{% block content %}
<div class="row-fluid">
    <div class="span2">
        <ul class="tag-list">
            <li class="title"><strong>Tags</strong></li>
            <li class="{% if not cur_tag %}active{% endif %}"><a href="/refs">Latest</a></li>
            {% for tag in all_tags %}
                <li class="{% if cur_tag and cur_tag.tag_id == tag.tag_id %} active {% endif %}"><a href="/refs?tag={{tag.tag_id}}" title="{{tag.name}}">{{tag.name|capfirst}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="span8">
        <fieldset>
            <legend>My Refs <a href="/ref/edit" class="btn btn-link pull-right" style="font-weight: 700;">
                <i class="icon-plus"></i> Create New Ref
            </a></legend>
            <ul class="ref-list">
                {% for ref in refs %}
                    <li><a href="/ref/{{ref.ref_id}}">{{forloop.counter}} - {{ref.title}}</a></li>
                {% empty %}
                    <li>You haven't saved anything yet!</li>
                {% endfor %}
            </ul>
        </fieldset>
    </div>
</div>
{% endblock %}
