{% extends 'base.html' %}
{% block cssblock %}
<link href="/media/css/github.css" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="span2">
            <ul class="tag-list">
                <li class="title"><strong>Tags</strong></li>
                <li class="{% if not cur_tag %}active{% endif %}"><a href="/refs">Latest</a></li>
                {% for tag in all_tags %}
                    <li class="{% if cur_tag and cur_tag.tag_id == tag.tag_id %} active {% endif %}"><a href="/refs?tag={{tag.tag_id}}" title="{{tag.name}}">{{tag.name|capfirst}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="span8 ref-display">
        {% if ref %}
            <fieldset>
                <legend>{{ ref.title|capfirst }} <span style="color: #000080">|</span>
                    <a href="/ref/edit?id={{ ref.ref_id }}">Edit</a>
                    <a href="/ref/edit" class="btn btn-link pull-right" style="font-weight: 700;">
                <i class="icon-plus"></i> Create New Ref
                </a></legend>
                <p>{% autoescape off %}{{ref.content|clean_html}} {% endautoescape %}</p>
                <ul>
                    {% for tag in ref.get_tags %}
                        <li><a href="/refs?tag={{tag.tag_id}}">{{tag.name}}</a></li>
                    {% endfor %}
                </ul>
            </fieldset>
        {% endif %}
        </div>
    </div>
{% endblock %}
{% block jsblock %}
    <script type="text/javascript" src="/media/js/highlight.pack.js"></script>
    <script type="text/javascript">
        hljs.initHighlightingOnLoad();
    </script>
{% endblock %}